body, html {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('https://www.rvinyl.com/Shared/Images/Product/Rwraps-reg-Wood-Grain-Vinyl-Film-Wraps-Mahogany/Mahogany-Wood-Grain-Vinyl-Wrap-Film.jpg');
}
.welcome{
    font-size: 72px;
    text-align: center;
    color: gray;
}
.instructions .container h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #333333;
    color: #DDDDDD;
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

label {
    color: white;
}

md-toast{
    background: red;


}

.image-limit {

    max-height: 300px;
    max-width: 250px;

}
.desc-wrap{
    max-width: 250px;


}