<div layout-xs="column" layout="row" layout-wrap>
    <md-card ng-repeat="item in vm.items.list" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{item.itemName}}</span>
                <span class="md-subhead">{{item.description}}</span>
            </md-card-title-text>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="vm.deleteItem(item)" ng-if="vm.userView">Delete</md-button>
            </md-card-actions>
        </md-card-title>
        <md-card-title-media>
            <div class="md-media-lg card-media">
                <img class="md-card-image" ng-src="{{item.imageUrl}}" alt="no-URL">
            </div>
        </md-card-title-media>
    </md-card>
</div>
