<div layout-xs="column" layout="row" layout-wrap>
    <md-card ng-repeat="item in vm.items.list" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{item.itemName}}</span>
                <span class="md-subhead">{{item.description}}</span>
            </md-card-title-text>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
            </md-card-actions>
        </md-card-title>

        <md-card-title-media>
            <div class="md-media-lg card-media">
                <img class="md-card-image" src="https://orig00.deviantart.net/cc47/f/2011/236/b/7/the_cake_is_not_a_lie_by_csiosoft-d47p2lo.png" alt="">
            </div>
        </md-card-title-media>
    </md-card>
</div>


