<div ng-include="'views/partials/nav.html'"></div>
<div class="navbar">
    <div class="container">
        <button class="btn" ng-click="vm.userService.logout()">Log Out</button>
        <button class="btn" ng-click="vm.addItemView()">Add Item</button>
    </div>
</div>


<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>


    <div id="itemHolder" style="display: flex; flex-direction:row; align-items:center; justify-content:center;">
        <div ng-repeat="item in vm.items.list">
            {{item.itemName}} {{item.description}} {{item.imageUrl}}
        </div>
    </div>
    git
    <br>
    <br>
    <br>
    <br>
    <br>
    
    (<--IN ADD VIEW<br>
        itemName:
        <input type="text" ng-model="vm.shelfItem.itemName"> Description:
        <input type="textarea" ng-model="vm.shelfItem.description"> imageUrl:
        <input type="text" ng-model="vm.shelfItem.imageUrl">
        <button ng-click="vm.addItem(vm.shelfItem)"> BIG F***ING BUTTON</button>
        <br> -->)





</div>